*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

.container{
    width: 1080px;
    margin: 50px auto;
    background-color: white;
    padding: 20px 60px 40px;
}

ul{
    list-style-type: none;
}

/* Intestazione */

header{
    background-color: white;
}

img{
    height: 80px;
    vertical-align: middle;
    padding: 9px;
}


h1{
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
}


/* botton */

button{
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    padding: 8px 15px;
    font-size: 15px;
}

.task{
    color: white;
    background-color: rgb(53, 162, 237);
}

.section{
    color: rgb(167, 166, 166);
}


/* lista */

li{
    padding: 20px;
    
}

.check{
    color: green;
    border: 2px solid green;
}

.cross{
    color: red;
    border: 2px solid red;
}

.check, .cross{
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 13px;
    
}

.text{
    vertical-align: middle;
    padding-left: 10px;
}

.category{
    color: white;
    border-radius: 10px;
    display: inline-block;
    height: 25px;
    width: 75px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;

}

.color-rgb{
    background-color:rgb(53, 162, 237); ;
}