*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

.container{
    width: 1080px;
    margin: 50px auto;
    background-color: white;
    padding: 20px 60px 40px;
}

/* Intestazione */

header{
    background-color: white;
}

img{
    height: 80px;
    vertical-align: middle;
    padding: 9px;
}


h1{
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
}


/* botton */

button{
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    padding: 8px 15px;
    font-size: 15px;
}

.task{
    color: white;
    background-color: rgb(53, 162, 237);
}

.section{
    color: rgb(167, 166, 166);
}


/* lista */

#curtain{
    list-style-type: none;
}
